/* Size for brand */

html {
    margin-bottom: 20px;
}

body {
   background-color: #f2f2f2; 
   font-family: Helvetica, Arial, sans-serif;
}

nav .navbar-brand
{
    font-size: xx-large;

}


/* Colors for brand */

.navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}


/* entry.html CSS */

.title-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    margin: 6px;
    padding: 1px;
    width: 320px;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
    border: solid rgba(0,0,0,.125) 1px;
    border-radius: 10px;
    background-color: white;
}

.title-data-container {
    background-color: transparent;
    border-radius: 10px;
    margin: 6px;
    padding: 15px;
    max-width: 600px;
    min-width: 150px;
    width: 600px;
    text-align: left;
}

.title-data-container h1 {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-data-container p {
    max-height: 135px;
    overflow: auto;
}

.title-data-container small {
    white-space: nowrap;
    text-overflow: ellipsis;
}


.data-render {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.table-container {
    margin: 6px 6px;
    padding: 5px;
    width: 320px;
    height: auto;
    object-fit: cover;
    border: solid rgba(0,0,0,.125) 1px;
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
}

.table {
    background-color: rgb(233, 233, 233);
    min-width: 250px;
    vertical-align: middle!important;
    margin: 1px;
    text-overflow: ellipsis;
}

.entry-table td {
    text-overflow: ellipsis;
}

/* td.note {
    max-height: 3em!important;
    overflow: auto;
    color: red;
} */

button.download {
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.canvas-container {
    display: flex;
    justify-content: center;
}

canvas#renderView {
    margin: 6px 6px;
    max-width: 600px;
    max-height: 350px;
    background-color: black;
    border: solid transparent 2px;
    border-radius: 10px;
    object-fit: cover;
    resize: both;
}

@media only screen and (max-width: 600px) {
    canvas#renderView {
        margin: 6px 6px;
        max-width: 300px;
        max-height: 500px;
        background-color: black;
        border: solid transparent 2px;
        border-radius: 10px;
        object-fit: cover;
    }
}


/* board.html CSS */

.card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px 10px;
    padding: 5px;
    border-radius: 10px;
    width: 225px;
    height: 325px;
  }

.card img {
    margin-top: 6px;
    padding: 1px;
    width: 200px;
    height: 130px;
    object-fit: cover;
    object-position: 50% 50%;
    border: solid #f2f2f2 1px;
    border-radius: 10px; 
  }

.card-body {
    position: relative;
}

.card-body h5 {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-body p {
    display: block;
    max-height: 68px;
    overflow: hidden;
    line-height: 17px;
    text-align: left;
    font-size: small;
}

a.view {
    position: absolute;
    width: 200px;
    height: 40px;
    bottom: 12px;
    left: 50%;
    margin-left: -100px;
}

button a.card-link {
    color: white;
    font-size: medium;
}

/* admin.html */
.table-div {
    font-size: smaller;
}

label.title {
    text-align: left;
}

option {
    text-align: center;
}

table.admin-table {
    margin-top: 50px;
     background-color: #f2f2f2;
}

td img.thumb {
    margin-top: 6px;
    padding: 5px;
    width: 100px;
    height: 65px;
    object-fit: cover;
    object-position: 50% 50%;
    border: solid #f2f2f2 1px;
    border-radius: 10px; 
  }

td.overflow-control {
    white-space: nowrap;
    overflow-x: scroll;
    max-width: 100px;
}