{% extends "layout.html" %}

{% block title %} 
    About
{% endblock %}

{% block main %}
    <main role="main" class="container">
        <div class="jumbotron">
        <h1 class="fw-light">About the Project</h1>
        <p class="lead">Allow me to introduce myself, my name is Ben Hogan and this is my final project for CS50x.  
                            The goal for this project was to challenge myself and create something that was unique
                            to my interests while integrating the skills I leaned through CS50x.  I have thoroughly 
                            enjoyed the process of this app as well as cursed it at times.  Hopefully this will be
                            only the first of many projects of this kind that I will be creating as my transition 
                            to web development ensues.</p>
        <a class="btn btn-lg btn-primary" href="https://github.com/bhogan25/cs50-final-project" role="button">View Source Code &raquo;</a>
        </div>
    </main>
{% endblock %}


{% block footer %}{% endblock %}