{% extends "layout.html" %}

{% block title %} 
    Admin Controls
{% endblock %}

{% block main %}

<div>
    <form action="/admin" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <div>
                <label class="col-sm-2 col-form-label">Print Title: </label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="title" placeholder="Enter Text" type="text">
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label">Description: </label>
                <textarea class="form-control" rows="3" name="desc" style="max-width: 25%; margin-left: 37.5%;"></textarea>
            </div>
            <div>
                <label class="col-sm-2 col-form-label">STL File: </label>
                <input autocomplete="off" autofocus class="form-control-file mx-auto w-auto" name="stl_1"  type="file">
            </div>
            <div>
                <label class="col-sm-2 col-form-label">Image File: </label>
                <input autocomplete="off" autofocus class="form-control-file mx-auto w-auto" name="img_1"  type="file">
            </div>
            <div>
                <label class="col-sm-2 col-form-label">G-code File</label>
                <input autocomplete="off" autofocus class="form-control-file mx-auto w-auto" name="gcode_1"  type="file">
            </div>
        </div>
        <button class="btn btn-primary" type="submit"> Upload </button>
    </form>
</div>

{% endblock %}