{% extends "layout.html" %}

{% block title %} 
    Admin Controls
{% endblock %}

{% block main %}

<div>
    <form action="/admin" method="POST" enctype="multipart/form-data">

        <div class="info">
            <input type="text" autocomplete="off" autofocus required name="file_name" placeholder="file name">
            <input type="text" autocomplete="off" required name="desc" placeholder="description">
            <input type="text" autocomplete="off" required name="mtl" placeholder="material type">
            <input type="text" autocomplete="off" required name="nzl" placeholder="nozzle size">
            <input type="text" autocomplete="off" required name="support" placeholder="support required?">
            <input type="text" autocomplete="off" required name="note" placeholder="print notes">
        </div>

        <div class="stl">
            <span>stl files</span>
            <input type="file" autocomplete="off" required name="stl_1" >
            <input type="file" autocomplete="off" required name="stl_2" >
        </div>

        <div class="img">
            <span>image files</span>
            <input type="file" autocomplete="off" required name="img_1" >
            <input type="file" autocomplete="off" required name="img_2" >
        </div>

        <div class="gcode">
            <span>gcode file</span>
            <input type="file" autocomplete="off" required name="gcode_1" >
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}