{% extends "layout.html" %}

{% block title %} 
    Post Board
{% endblock %}

{% block main %}
<div class="row">
    {% for file in fileList %}
    <!-- List of print info columns and values -->

        <div class="col-md-4">
          <div class="card"style="width: 30rem, margin-bottom: 25px;">
            <div class="card-body">
              <h3 class="card-title">{{ file.title}}</h3>
              <p>{{ file.desc }}</p>
              <p>Uploaded {{ file.tstp }}</p>

              <!-- <p>{{ sesh }}</p> -->

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">STL</th>
                    <th scope="col">Image</th>
                    <th scope="col">G-Code</th>
                  </tr>
                </thead>
                  <form action="/download" method="post">
                  <tbody>
                    <tr>
                        <td>
                            <div class="mb-3">
                              {{ file.stl_filename }}
                            </div>
                              <input type="radio" name="download" value="{{ file.stl_filename }}">
                        </td>
                      {% if (file.img_filename != None) %}
                        <td>
                            <div class="mb-3">
                              {{ file.img_filename }}
                            </div>
                              <input type="radio" name="download" value="{{ file.img_filename }}">
                        </td>
                      {% else -%}
                        <td>
                          <span>Not Available</span>
                        </td>
                      {% endif %}
                      
                      {% if (file.gcode_filename != None) %}
                        <td>
                            <div class="mb-3">
                              {{ file.gcode_filename }}
                            </div>
                              <input type="radio" name="download" value="{{ file.gcode_filename }}">
                        </td>
                      {% else -%}
                        <td>
                          <span>Not Available</span>
                        </td>
                      {% endif %}
                      </tr>
                    </tbody>
                    <button class="btn btn-primary" type="submit"> Download </button>
                    <button class="btn btn-primary view" type="button"><a href="/elementaryview?filename={{ file.stl_filename }}">View STL File </a></button>
                  </form>
              </table>
            </div>
          </div>
        </div>

    {% endfor %}

  </div>
  
{% endblock %}