{% extends "layout.html" %}

{% block title %} 
    Post Board
{% endblock %}

{% block main %}

  {% if fileList %}

    

    <div class="card-deck">

      {% for file in fileList %}
        <div class="card">

          {% if file.img_filename %}
            <a href="/entry?pk={{ file.post_key }}"><img src="static/img/{{ file.img_filename }}" class="thumbnail"></a>
              
          {% else -%} 
            <a href="/entry?pk={{ file.post_key }}"><img src="static/img/default-no-image.png" class="thumbnails"></a>
      
          {% endif %}

          <div class="card-body">
            <h5 class="card-title">{{ file.title }}</h5>
            <p class="card-text">{{ file.desc }}</p>
            <button class="btn btn-primary view" type="button"><a href="/entry?pk={{ file.post_key }}" class="card-link">View STL File </a></button>
          </div>
        </div>

      {% endfor %}

    </div>


  {% else -%}
    <h1>Very empty... Need more posts...</h1> 

  {% endif %}
  
  {% endblock %}


  {% block footer %}{% endblock %}