{% extends "layout.html" %}


{% block head %}

<script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.144.0/build/three.module.js",
            "STLLoader": "https://unpkg.com/three@0.144.0/examples/jsm/loaders/STLLoader.js",
            "OrbitControls": "https://unpkg.com/three@0.144.0/examples/jsm/controls/OrbitControls.js",
            "three/examples/jsm/libs/stats.module": "/jsm/libs/stats.module.js"
        }
    }
</script>

{% endblock %}


{% block title %}

        {{ entryData.title }}

{% endblock %}


{% block main %}
    <div class="title-group">
        <div class="image-container">

            {% if entryData.img_filename %}
                <img src="static/img/{{ entryData.img_filename }}">
              
            {% else -%} 
                <img src="{{ defaultImage }}">
      
            {% endif %}

        </div>
        <div class="title-data-container">
            <h1 class="fw-light">{{ entryData.title }}</h1>
            <p class="lead text-muted">{{ entryData.desc }}</p>
            <small class="text-muted">Posted {{ entryData.tstp }}</small>
        </div>
    </div>

    <div class="data-render">
        <div class="table-container">
            <div>
                <h3 class="my-3 fw-light fs-2 text-white"> Print Info </h3>
            </div>
            <div class="d-flex align-items-center">
                <table class="table table-dark table-borderless table-hover entry-table">
                    <tbody>
                        <tr>
                            <th scope="row">Material: </th>
                            <td>{{ entryData.mtl }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Nozzle: </th>
                            <td>{{ entryData.nzl }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Support: </th>
                            <td>{{ entryData.support }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Note: </th>
                            <td class="note">

                                {% if entryData.note %}
                                    {{ entryData.note }}

                                {% else -%}
                                    None
                                {% endif %}

                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">STL File: </th>
                            <td>
                    
                                {% if entryData.stl_filename %}
                                    <form method="post" action="/entry">
                                        <input class="form-control-file mx-auto w-auto" name="download"  type="text" hidden value="{{ entryData.stl_filename }}">
                                        <button class="btn btn-primary download" type="submit"><span class="filename" id="stl_filename">{{ entryData.stl_filename }}</span></button>
                                    </form>
                                    
                                {% else -%}
                                    <span id="stl_filename" hidden>default-no-stl.stl</span>
                                    
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">G-Code: </th>
                            <td>

                                {% if entryData.gcode_filename %}
                                    <form method="post" action="/entry">
                                        <input class="form-control-file mx-auto w-auto" name="download"  type="text" hidden value="{{ entryData.gcode_filename }}">
                                        <button class="btn btn-primary download" type="submit"><span class="filename">{{ entryData.gcode_filename }}</span></button>
                                    </form>
                                
                                {% else -%}
                                    None
                                
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="canvas-container">
            <canvas id="renderView"></canvas>
        </div>
    </div>
 
{% endblock %}


{% block footer %}

    <script async type="module">
        import * as THREE from 'three';
        import { STLLoader } from 'STLLoader';
        import { OrbitControls } from 'OrbitControls';

        // let params = new URLSearchParams(document.location.search);
        let filePath = '../static/stl/';
        let stlFilename = document.getElementById( 'stl_filename' ).innerHTML;

        // document.getElementById('log').innerHTML += '<br>Some new content!';


        if ( stlFilename ) {
            console.log( `Query Param filename of value '${stlFilename}' was passed to this page` );
        } else {
            console.log( 'Rendering default STL file.' );
            stlFilename = 'default-no-stl.stl';
        }

        let file = filePath.concat( stlFilename );

        // Add scene and camera
        const scene = new THREE.Scene();
        const camera = new THREE.PerspectiveCamera( 15, window.innerWidth / window.innerHeight, 0.1, 1500 ); 
        
        // Grenerate renderer and pass it to a <canvas> tag that is generated inside the <body> of the HTML doc.
        const renderer = new THREE.WebGLRenderer( { canvas: renderView } );
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize( window.innerWidth, window.innerHeight );
        // document.body.appendChild( renderer.domElement );


        window.addEventListener("resize", onWindowResize(), false)
        
        function onWindowResize(){

            camera.aspect = window.innerWidth / window.innerHeight
            renderer.setPixelRatio( window.devicePixelRatio );
            renderer.setSize( window.innerWidth, window.innerHeight );

        }

        // Create Axis helper
        const axesHelper = new THREE.AxesHelper(5);
        axesHelper.setColors ( 0xFF0000, 0x00FF00, 0x0000FF );
        scene.add(axesHelper);

        // Add orbit controls
        const controls = new OrbitControls( camera, renderer.domElement );
        controls.maxDistance = 1000;
        controls.enableDamping = true;


        // Add directional lights
        const color = 0xFFFFFF;
        const intensity = 0.75;
        const num = 500;

        const lightI = new THREE.SpotLight( color, intensity );
        lightI.position.set(num, num, num);
        scene.add(lightI);

        // const lightII = new THREE.SpotLight( color, intensity );
        // lightII.position.set(-num, num, num);
        // scene.add(lightII);
        
        const lightIII = new THREE.SpotLight( color, intensity );
        lightIII.position.set(-num, -num, num);
        scene.add(lightIII);
        
        // const lightIV = new THREE.SpotLight( color, intensity );
        // lightIV.position.set(num, -num, num);
        // scene.add(lightIV);
        
        // const lightV = new THREE.SpotLight( color, intensity );
        // lightV.position.set(num, -num, num);
        // scene.add(lightV);

        const lightVI = new THREE.SpotLight( color, intensity );
        lightVI.position.set(-num, num, -num);
        scene.add(lightVI);

        // const lightVII = new THREE.SpotLight( color, intensity );
        // lightVII.position.set(-20, -20, -20);
        // scene.add(lightVII);

        const lightVIII = new THREE.SpotLight( color, intensity );
        lightVIII.position.set(num, -num, -num);
        scene.add(lightVIII);


        // Load STL File
        const loader = new STLLoader();

        const material = new THREE.MeshPhongMaterial( { color: 0x2471A3, specular: 0x555555, shininess: 20 } );

        try {
            loader.load( file, function ( geometry ) {

                const mesh = new THREE.Mesh( geometry, material );

                mesh.position.set( 0, - 0.37, - 0.6 );
                mesh.rotation.set( - Math.PI / 2, 0, 0 );
                mesh.scale.set( 0.5, 0.5, 0.5 ); // was ( 2, 2, 2 )

                scene.add( mesh );

                camera.position.set( 100, 75, 100 )
            } );

        } catch (error) {
            console.log(error);
        }
        
        function animate() {
                requestAnimationFrame( animate );

                // shape.rotation.x += 0.01;
                // shape.rotation.y += 0.01;
                controls.update();

                renderer.render( scene, camera );
            };
                    
        animate();

    </script>

{% endblock %}