{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block title %} 
    Home
{% endblock %}

{% block main %}
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-7 col-md-8 mx-auto">
          <h1 class="fw-light">Welcome to my Blog</h1>
          <p class="lead text-muted">
            For the past couple of years I've been tinkering with my Ender 3 printer and making wierd models in Onshape and I wanted a place to organize all my files.  I also happened to need an idea for my final project for a computer science course, which lead to the creation of this blog.  Its nothing fancy, mostly a project where I could test my skills at creating and implementing something unique, applicable to me and my interests, and utilizing technology with which I was not completely familiar with at the time. I have thoroughly enjoyed the process of creating it and maybe one day, with a lot more work, I'll launch it for everyone to use and enjoy.</p>
          <p>
            <a href="/board" class="btn btn-primary my-2">View All Prints</a>
            <a href="/about" class="btn btn-secondary my-2">About</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
        <h1 class="mb-4">Recent Posts<h1>
      <div class="container">
  
        {% if recentsQueryData %}

            <div class="card-deck">

                {% for post in recentsQueryData %}
                    <div class="card">

                    {% if post.img_filename %}
                        <a href="/entry?pk={{ post.post_key }}"><img src="static/img/{{ post.img_filename }}" class="thumbnail"></a>
                        
                    {% else -%}
                        <a href="/entry?pk={{ post.post_key }}"><img src="{{ defaultImage }}" class="thumbnails"></a>
                
                    {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.desc }}</p>
                            <a href="/entry?pk={{ post.post_key }}" class="btn btn-primary view">View File</a>
                        </div>
                    </div>

                {% endfor %}

            </div>

        {% else -%}

            <h1>Very empty... Need more posts...</h1>

        {% endif %}

        </div>
    </div>

{% endblock %}


{% block footer %}{% endblock %}