{% extends "layout.html" %}

{% block title %} 
    Search
{% endblock %}

{% block main %}
<!-- A form containing search boxes that are linked to other sites search boxes like: [/thingiverse, /pinshape, /cults3D, /free3D, thangs, /myminifactory, etc] -->

<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">

    <!-- ------------------------- 3D Print Anything ------------------------- -->
    <div class="row my-4">
      <form action="/search" class="d-flex mb-2" method="post">
        <img class="me-2" src="/static/0perm-media/3DPA_LOGO__DARK.png" class="me-2" width="40" height="40">
        <label class="col-sm-3 me-2 col-form-label text-start">3DPA</label>
        <input type="text" name="q" class="form-control me-2" placeholder="Benchy" autocomplete="off">
        <button class="btn btn-dark col-sm-2" type="submit">Search</button>
      </form>
    </div>

    {% if searchQueryData == None %}
      <div class="search-results">Sorry, no entries were found for your search :(</div>

    {% else -%}

    
      <p class="text-muted my-1">Results</p>
      <div class="row flex-wrap jusify-content-center">
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
          {% for entry in searchQueryData %}
            <div class="row m-2 py-1 bg-white align-items-center search-card">
              
              <div class="col-lg-6 align-items-center img-box">
                
                {% if entry.img_filename %}
                  <img src="static/img/{{ entry.img_filename }}" class="thumb" style="margin-top: 0px">
                
                {% else -%}
                  <img src="{{ defaultImage }}" class="thumb" style="margin-top: 0px">
                
                {% endif %}
              </div>
              
              <div class="col-lg-6 btn-box">
                  <a class="result-title btn btn-primary" href="/entry?pk={{ entry.post_key }}">{{ entry.title }}</a>
              </div>
              
            </div>
          
          {% endfor %}
        </div>

        <div class="col-lg-2"></div>

      </div>

    {% endif %}

    <h1 class="my-5 fw-light">Search Other Sites for 3D files</h1>

    <!-- ------------------------- Thingiverse ------------------------- -->
    <div class="row">
      <form action="https://www.thingiverse.com/search" class="d-flex mb-2" target="_blank" rel="noopener noreferrer">
        <img class="me-2" src="https://cdn.thingiverse.com/site/img/favicons/apple-touch-icon-57x57.png" class="me-2" width="40" height="40">
        <label class="col-sm-3 me-2 col-form-label text-start">Thingiverse</label>
        <input type="text" name="q" class="form-control me-2" placeholder="Klein Bottle" autocomplete="off">
        <input type="hidden" name="page" value="1">
        <input type="hidden" name="type" value="thing">
        <input type="hidden" name="sort" value="popular">
        <input type="hidden" name="catagory_id" value="0">
        <button class="btn btn-outline-primary col-sm-2" type="submit">Search</button>
      </form>
    </div>

    <!-- ------------------------- CULTS3D ------------------------- -->
    <div class="row">
      <form action="https://cults3d.com/en/search" class="d-flex mb-2" target="_blank" rel="noopener noreferrer">
        <img class="me-2" src="https://assets.cults3d.com/assets/favicons/cults-e19f0b01f785a57ca7e0a5aeb5b365ea8255e2d52389045f7049e470499130b4.ico" class="me-2" width="40" height="40">
        <label class="col-sm-3 me-2 col-form-label text-start">Cults3D</label>
        <input type="text" name="q" class="form-control me-2" placeholder="Gyroscope" autocomplete="off">
        <button class="btn btn-outline-danger col-sm-2" type="submit">Search</button>
      </form>
    </div>

    <!-- ------------------------- Free3D ------------------------- -->
    <div class="row">
      <form action="https://free3d.com/3d-models" class="d-flex mb-2" target="_blank" rel="noopener noreferrer">
        <img class="border me-2" src="https://imgs.search.brave.com/Hd17WCLe4TdBmGnyuC3_oAGViLDe3y_YBkmFQGYRE2M/rs:fit:32:32:1/g:ce/aHR0cDovL2Zhdmlj/b25zLnNlYXJjaC5i/cmF2ZS5jb20vaWNv/bnMvYjMzNzdkM2Vk/NTkxZTdhN2M0NDll/ZjA4NDg2MmY3Zjgw/OTBhZTMxN2Q0MmY4/YTA1ZDAwNzRiOTFl/YjZiNzA0Yi9mcmVl/M2QuY29tLw" class="me-2" width="40" height="40">
        <label class="col-sm-3 me-2 col-form-label text-start">Free3D</label>
        <input type="text" name="q" class="form-control me-2" placeholder="Airplane" autocomplete="off">
        <button class="btn btn-outline-warning col-sm-2" type="submit">Search</button>
      </form>
    </div>

    <!-- ------------------------- MyMiniFactory ------------------------- -->
    <div class="row">
      <form action="https://www.myminifactory.com/search" class="d-flex mb-2" target="_blank" rel="noopener noreferrer">
        <img class="border me-2" src="https://static.myminifactory.com/images/app-banner/app-icon.png?v147" class="me-2" width="40" height="40">
        <label class="col-sm-3 me-2 col-form-label text-start">MyMiniFactory</label>
        <input type="text" name="query" class="form-control me-2" placeholder="Screw" autocomplete="off">
        <input type="text" name="store" hidden value="0">
        <button class="btn btn-outline-success col-sm-2" type="submit">Search</button>
      </form>
    </div>
    
    <!-- ------------------------- Pinshape ------------------------- -->
    <div class="row">
      <form action="https://pinshape.com/search/designs" class="d-flex mb-2" target="_blank" rel="noopener noreferrer">
        <img class="border me-2" src="https://imgs.search.brave.com/7dvgU4MBNIxR-FWnoWUHJUzrHaEJnjIQ9yuTbqvScl0/rs:fit:960:960:1/g:ce/aHR0cHM6Ly8zZHBy/aW50LmNvbS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAxNS8wMy9w/aW5zaGFwZS1sb2dv/LnBuZw" class="me-2" width="40" height="40">
        <label class="col-sm-3 me-2 col-form-label text-start">Pinshape</label>
        <input type="text" name="q" class="form-control me-2" placeholder="Gears" autocomplete="off">
        <button class="btn btn-outline-info col-sm-2" type="submit">Search</button>
      </form>
    </div>

  </div>
  <div class="col-lg-3"></div>
</div>

{% endblock %}
